<div ng-controller="JobController as jobctrl">
	<div class="container">
		<div class="h2">Manage Jobs</div>
		<div class="row">
			<div class="col-sm-offset-9 col-sm-3 nopadding">
				<form>
					<div class="form-group">
						<label for="selectedSort">Sort by: </label> 
						<select ng-model='selectedSort' id="selectedSort" class="form-control bootstrap-select btn btn-navbar-color">
							<option value='jobId' selected>Job Id</option>
							<option value='jobTitle'>Job Title</option>
							<option value='createDate'>Date</option>
						</select>
					</div>
				</form>
			</div>
		</div>
	
		<div ng-repeat="thisJob in jobs | filter:{jobStatus : jobctrl.getManageAdminJobStatus()} | orderBy : selectedSort">
			<div class="container well row vertical-align bordered">
				<div class="col-md-9 col-sm-12">
					<div>
						<div class="h3">{{thisJob.jobTitle}}</div>
						
						<div class="col-md-4 col-sm-12">
							<div class="text-muted">{{thisJob.jobId}}</div>
						</div>
						<div class="col-md-4 col-sm-12 text-center">
							<div class="text-muted">Status : {{thisJob.jobStatus}}</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="text-right text-muted">{{thisJob.createDate | date:"medium" }}</div>
						</div>
					</div>
					<hr class="text-muted"/>
					<hr />
					<div class="text-justify text-muted"> Qualification : {{thisJob.jobQualification}}</div>
					<div class="text-justify">{{thisJob.jobDescription}}</div>
					
					
					
				</div>
				<div class="col-md-3 text-center col-sm-12">
					<a ng-show="jobctrl.getManageAdminJobStatus() == 'O'" class="btn btn-danger" ng-click="jobctrl.closeJob(thisJob.jobId)"> <span class="glyphicon glyphicon-remove"></span> </a>					
					<a ng-show="jobctrl.getManageAdminJobStatus() == 'C'" class="btn btn-success" ng-click="jobctrl.openJob(thisJob.jobId)"> <span class="glyphicon glyphicon-repeat"></span> </a>					
					<a class="btn btn-warning" ng-click="jobctrl.editJob(thisJob.jobId,thisJob.jobTitle,thisJob.jobQualification,thisJob.jobDescription)"> <span class="glyphicon glyphicon-edit"></span> </a>					
				</div>
			</div>
			
			<div class="container" ng-if="thisJob.jobId == job.jobId">{{jobctrl.job.jobId}}
				<div ng-include="'C_Jobs/Admin_EditJob.html'"></div>
			</div>
			
		</div>
	</div>
	
</div>